html {
    overflow: hidden !important;
}

#app {
    .flex-basis-0 {
        flex-basis: 0;
    }

    .relative {
        position: relative;
    }

    .absolute-expand {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .text-ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .noselect {
        cursor: default;
        user-select: none;
    }

    .pointer {
        cursor: pointer;
    }

    // list

    .v-list {
        border-radius: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .v-theme--dark .v-list {
        background: rgb(var(--v-theme-controls));
    }

    // dialog

    .v-dialog {
        .v-card {
            background-color: rgb(var(--v-theme-panel));

            .v-card-title {
                background-color: rgb(var(--v-theme-controls));
            }
        }
    }

    // windows

    .v-window, .v-window-item {
        height: 100%;
    }

    // splitpanes

    .splitpanes.default-theme .splitpanes__pane, .scrollable {
        overflow: auto;
        position: relative;
        border: solid 1px rgb(var(--v-theme-controls_border));

        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
            background-color: rgb(var(--v-theme-controls_border));
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgb(var(--v-theme-controls));
            border: solid 2px rgb(var(--v-theme-controls_border));
        }
    }

    .splitpanes.default-theme {
        .splitpanes__pane {
            background-color: rgb(var(--v-theme-panel));
        }

        .splitpanes__splitter {
            background-color: rgb(var(--v-theme-controls));

            border-color: rgb(var(--v-theme-controls_border));

            &::before, &::after {
                background-color: rgb(var(--v-theme-neutral));
            }
        }
    }

    pre code.hljs {
        padding: 0;
        background-color: inherit;
        font-size: small;
    }

    .spin {
        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .badge {
        font-size: 9px;
        border-radius: 8px;
        line-height: 16px;
        min-width: 16px;
        background-color: #aaaaaa88;
        padding: 0 2px;
    }

    .floating-buttons {
        position: fixed;
        right: 16px;
        bottom: 32px;
        z-index: 9999;
    }
}

