html {
    overflow: hidden !important;
}

#app {
    .flex-basis-0 {
        flex-basis: 0;
    }

    .relative {
        position: relative;
    }

    .absolute-expand {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .text-ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .noselect {
        cursor: default;
        user-select: none;
    }

    .pointer {
        cursor: pointer;
    }

    // list

    .v-list {
        border-radius: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .theme--dark .v-list {
        background: var(--v-controls-darken1);
    }

    // dialog

    .v-dialog {
        box-shadow: 0 0 20px 10px var(--v-controls_border-darken2);
    }

    // stepper

    $header-height: 40px;

    .v-stepper {
        border-radius: 0;
    }

    .v-stepper__step {
        padding: 0 20px;
    }

    .v-stepper__step--active {
        border-bottom: solid 2px var(--v-primary-base);
    }

    .v-stepper__step__step {
        display: none;
    }

    .v-stepper__header {
        justify-content: flex-start;
        height: $header-height;
        background-color: var(--v-controls-base);
    }

    .v-stepper__label {
        display: flex !important;
    }

    .v-stepper__content {
        padding: 0;
    }

    .v-stepper__items {
        height: calc(100% - #{$header-height});
    }

    .v-stepper, .v-stepper__content, .v-stepper__wrapper {
        height: 100%;
    }

    // splitpanes

    .splitpanes.default-theme .splitpanes__pane, .scrollable {
        overflow: auto;
        position: relative;
        border: solid 1px var(--v-controls-darken1);

        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
            background-color: var(--v-controls-darken1);
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: var(--v-controls-darken2);
            border: solid 2px var(--v-controls-darken1);
        }
    }

    .theme--light {
        .splitpanes.default-theme {
            .splitpanes__splitter {
                background-color: var(--v-controls-base);

                &::before, &::after {
                    background-color: var(--v-controls-darken2);
                }
            }
        }
    }

    .theme--dark {
        .splitpanes.default-theme {
            .splitpanes__pane {
                background-color: #303030;
            }

            .splitpanes__splitter {
                background-color: var(--v-controls-base);

                border-color: var(--v-controls-darken1);

                &::before, &::after {
                    background-color: var(--v-controls-darken4);
                }
            }
        }
    }

    pre code.hljs {
        font-weight: normal;
        padding: 0 !important;
        background-color: inherit !important;
        box-shadow: none;

        &:before, &:after {
            content: unset;
        }
    }

    .spin {
        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .badge {
        font-size: 9px;
        border-radius: 8px;
        line-height: 16px;
        min-width: 16px;
        background-color: #aaaaaa88;
        padding: 0 2px;
    }
}

