name: Electron CI

on:
  workflow_dispatch:
    inputs:
      version:
        description: Release version (e.g. v1.2.3)
        required: true
        type: string

env:
  CSC_LINK: ${{ secrets.CSC_LINK }}
  CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
  APPLE_API_KEY: ${{ github.workspace }}/apple_api_key.p8
  APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
  APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Apple API Key file
        run: |
          cat << 'EOF' > "$APPLE_API_KEY"
          ${{ secrets.APPLE_API_KEY }}
          EOF

      - name: Build
        run: |
          npm ci
          npm run electron:build

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          working_directory: dist_electron
          tag_name: ${{ inputs.version }}
          draft: true
          fail_on_unmatched_files: true
          preserve_order: true
          files: |
            *.dmg 
            *.exe
            *.deb
            *.AppImage
