name: Electron CI

on:
  workflow_dispatch:
    inputs:
      version:
        description: Release version (e.g. v1.2.3)
        required: true
        type: string

env:
  CSC_LINK: ${{ secrets.CSC_LINK }}
  CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
  APPLE_API_KEY:  ${{ secrets.APPLE_API_KEY }}
  APPLE_API_KEY_ID:  ${{ secrets.APPLE_API_KEY_ID }}
  APPLE_API_ISSUER:  ${{ secrets.APPLE_API_ISSUER }}

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: |
          npm ci
          npm run electron:build

      - name: Upload
        working-directory: dist_electron
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.version }}
          draft: true
          fail_on_unmatched_files: true
          preserve_order: true
          files: |
            *.dmg 
            *.exe
            *.deb
            *.AppImage
